
  @import '../../../highlight.js/styles/github';
  @import '../../../github-markdown-css/github-markdown';


.markdown-body hr {
  border-bottom: none !important;
}

.markdown-body h1 {
  border-bottom: none !important;
}

.markdown-body h2 {
  border-bottom: none !important;
}